ET-Display-Home.json
[{"id":"2bd50d16.2fc722","type":"tab","label":"initilization","disabled":false,"info":""},{"id":"fa6ef639.63d4e8","type":"tab","label":"Check for new ESPeasy release","disabled":false,"info":""},{"id":"392a3a87.b4d7ee","type":"tab","label":"Update the 'nodes' db ","disabled":false,"info":""},{"id":"777c09a8.492b88","type":"tab","label":"ESPeasy","disabled":false,"info":""},{"id":"12616b68.55aedd","type":"tab","label":"Sonoff Tasmota","disabled":false,"info":""},{"id":"af850f94.060ce8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"4713b430.f0fdec","type":"tab","label":"Delete 'Ghost' IP's","disabled":false,"info":""},{"id":"269ed360.304ffc","type":"tab","label":"---end ESPeasy---","disabled":false,"info":""},{"id":"47186c71.905e34","type":"sqlitedb","z":"","db":"/home/pi/esp8266.db"},{"id":"96f778f0.082358","type":"ui_group","z":"","name":"Espeasy device list","tab":"8962c4d1.98b3c8","order":1,"disp":false,"width":"14","collapse":false},{"id":"37f0755c.fab842","type":"ui_group","z":"","name":"Group 2","tab":"8962c4d1.98b3c8","order":3,"disp":true,"width":"14","collapse":false},{"id":"8962c4d1.98b3c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"dbf7893d.8c6e28","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"98a14fc.a18663","type":"ui_group","z":"","name":"buttons","tab":"8962c4d1.98b3c8","order":2,"disp":false,"width":"14","collapse":false},{"id":"da53c8cd.340a68","type":"catch","z":"2bd50d16.2fc722","name":"","scope":null,"x":140,"y":440,"wires":[["deb94929.5f6ef"]]},{"id":"deb94929.5f6ef","type":"debug","z":"2bd50d16.2fc722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":440,"wires":[]},{"id":"ab8daea9.a7f18","type":"sqlite","z":"2bd50d16.2fc722","mydb":"47186c71.905e34","sqlquery":"fixed","sql":"CREATE TABLE nodes (\n\tnode_status INTEGER,\n\tnode_name TEXT, \n\tnode_info TEXT,\n\tfirmware_build TEXT,\n\tuptime TEXT,\n\tlast_boot_cause TEXT,\n\tfree_ram INTEGER,\n\tip TEXT PRIMARY KEY,\n\trssi INTEGER,\n\tfirmware_type text\n)","name":"Create table","x":590,"y":440,"wires":[[]]},{"id":"44a27648.c0d418","type":"comment","z":"2bd50d16.2fc722","name":"Moved 'firmware' table to a global","info":"","x":640,"y":300,"wires":[]},{"id":"135e5609.dcf552","type":"comment","z":"2bd50d16.2fc722","name":"Create the 'nodes' table and index","info":"","x":640,"y":400,"wires":[]},{"id":"daf7dabe.4f547","type":"comment","z":"2bd50d16.2fc722","name":"Catch any unexpected errors","info":"","x":200,"y":400,"wires":[]},{"id":"a706bcc1.2f1d6","type":"comment","z":"2bd50d16.2fc722","name":"ET Display Home v0.1.17","info":"","x":410,"y":40,"wires":[]},{"id":"eba286cf.d7f2e8","type":"inject","z":"2bd50d16.2fc722","name":"Drop tables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":180,"wires":[["d69b29ae.8d50d8"]]},{"id":"e36cee60.d5cff","type":"comment","z":"2bd50d16.2fc722","name":"Create tables  - READ Node help!","info":"(Manual) - Run this flow once when installing or if the release notes say \nto upgrade the database.\n\nThe reason this drops and recreates the tables is in the case where new columns\nare being added to one of the tables. \n\n(Yes I know that you could use ALTER but this seems easier to maintain in this case.)","x":630,"y":140,"wires":[]},{"id":"f1236f19.9cce38","type":"comment","z":"2bd50d16.2fc722","name":"This flow auto runs at startup of Node-RED","info":"the flow uses \n```hostname -I | awk '{print $1}'```\nto get the IP address of your network. It then strips off the last octet\nand replaces it with ```1-255```. If your network has IP's like ```192.168.1.100```\nit will end up creating ```192.168.1.1-255``` for use later when scanning for all \nthe devices on the network.\n","x":220,"y":140,"wires":[]},{"id":"dc20b716.2b4bf8","type":"comment","z":"2bd50d16.2fc722","name":"STEP 2","info":"Read the ```Create tables``` Node help!","x":610,"y":100,"wires":[]},{"id":"d9d7119.914117","type":"comment","z":"2bd50d16.2fc722","name":"STEP 3 - DEPLOY and go to the Dashboard - you are done!","info":"","x":420,"y":520,"wires":[]},{"id":"d69b29ae.8d50d8","type":"sqlite","z":"2bd50d16.2fc722","mydb":"47186c71.905e34","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS nodes;\n","name":"Drop table nodes","x":610,"y":220,"wires":[["e1a842c4.4b1478"]]},{"id":"e1a842c4.4b1478","type":"sqlite","z":"2bd50d16.2fc722","mydb":"47186c71.905e34","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS firmware;\n","name":"Drop table firmware","x":610,"y":260,"wires":[["ab8daea9.a7f18"]]},{"id":"b8ce2f99.fa172","type":"inject","z":"2bd50d16.2fc722","name":"Get and store base IP address","topic":"","payload":"hostname -I | awk '{print $1}'","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":180,"wires":[["3875b2fb.a9be4e"]]},{"id":"3875b2fb.a9be4e","type":"exec","z":"2bd50d16.2fc722","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":130,"y":240,"wires":[["1a326cb2.2e03a3"],[],[]]},{"id":"1a326cb2.2e03a3","type":"change","z":"2bd50d16.2fc722","name":"Get and store the IP range","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\.\\d{1,3}\\n$","fromt":"re","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload&\".1-255\"","tot":"jsonata"},{"t":"set","p":"ETDH.baseIPandRange","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":300,"wires":[[]]},{"id":"49d501f6.3aad08","type":"comment","z":"2bd50d16.2fc722","name":"STEP 1","info":"","x":210,"y":100,"wires":[]},{"id":"8b6806a.f9c05f8","type":"inject","z":"2bd50d16.2fc722","name":"","topic":"","payload":"v0.1.17","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":40,"wires":[["c3f4010a.c9206"]]},{"id":"c3f4010a.c9206","type":"change","z":"2bd50d16.2fc722","name":"store global","rules":[{"t":"set","p":"ETDH.version","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":100,"wires":[[]]},{"id":"fe976145.5f02a","type":"comment","z":"2bd50d16.2fc722","name":"Release Notes","info":"Version\n- 0.1.17 - removed code added in v0.1.12 since 'crashes' is used in a fix in current version \n  of espeasy. Removed extra 'debug' nodes - moved source to GitHub\n\n- 0.1.16 - ``Run Step 2`` fixed bug where IP wasn't linking to devices\n\n- 0.1.15 - added code to handle 'Homie' devices\n\n- 0.1.14 - add code to only display ESPEasy releases with \n  `href=\"/psy0rz\">psy0rz</a> released this`\n  included. Changed node creating inserts from **change** to **template** node\n\n- 0.1.13 - added button to show/hide the 'Ghost' IP delete panel\n\n- 0.1.12 - added code to ignore releases with the word \"crashes\"\n \n- 0.1.10 - fixed a display issue caused by ESPeasy changing the names in their JSON output.\n  \n- 0.1.09 - ``Run Step 2 if upgrading from v0.1.7 or earlier``Added code to allow you to delete \n  'Ghost' nodes. - A 'Ghost' IP is one from a device where you change it's original IP address\n  after it has been discovered. Also added some color to the display.\n\n- 0.1.08a - ``Run Step 2 if upgrading from v0.1.7 or earlier``found a small bug that wouldn't \n  let you link to the latest Tasmota release. Also slipped in code to subtract 100 from the \n  tasmota RSSI value to be consistant with the espeasy RSSI values\n\n- 0.1.08 - ``Run Step 2`` changed the primary key of the nodes table to \n  be the IP address and added a new column for the firmware type.\n\n- 0.1.07 - Typo's and cleaning up some labels, removed some debugging, \n  changed display to color node green when online and orange when offline\n\n- 0.1.06 - ``Run Step 2`` changed database name, added column to release table, \n  added Tasmota release link, changed name to **ET Display Home**, \n  added code to grab the base IP automatically\n\n- 0.1.05 - added logic to show Sonoff devices - changed the name\n\n- 0.1.04 - ``Run Step 2`` made a change to drop/create tables instead of \n  deleting the DB's file and recreating the tables. \n  That was causing an error forcing the need to stop/start NR.\n\n- 0.1.03 - Added new items to the display\n\n- 0.1.02 - bug fix's\n\n- 0.1.01 - finally a working version\n\n- 0.1.00 - an idea that I want to make work\n ","x":400,"y":80,"wires":[]},{"id":"261cabc4.d20474","type":"http request","z":"fa6ef639.63d4e8","name":"Get ESPEasy releases","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":160,"y":220,"wires":[["7551312c.98367"]]},{"id":"cf465397.62e438","type":"change","z":"fa6ef639.63d4e8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://github.com/letscontrolit/ESPEasy/releases","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":180,"wires":[["261cabc4.d20474"]]},{"id":"4782bb2a.c601a4","type":"inject","z":"fa6ef639.63d4e8","name":"Check for new ESPeasy release","topic":"","payload":"https://github.com/letscontrolit/ESPEasy/releases","payloadType":"str","repeat":"21600","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":100,"wires":[["cf465397.62e438"]]},{"id":"7551312c.98367","type":"function","z":"fa6ef639.63d4e8","name":"extract latest version","func":"var n = msg.payload.indexOf('<a href=\"/letscontrolit/ESPEasy/releases/tag/');\n//n =n;\nmsg.payload = msg.payload.substring(n);\n\nm = msg.payload.split('<a href=\"/letscontrolit/ESPEasy/releases/tag/');\nvar l = m.length;\nvar r = \"\";\nfor (i = 1; i < 5; i++) {\n    r = m[i].substring(0,13)\n// for debugging\n//    msg.linkstmt = m;\n// end for debug    \n    break;\n}\n\nmsg.payload = r;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":260,"wires":[["45243ad7.f1d9c4"]]},{"id":"8a0955af.2ef5a8","type":"comment","z":"fa6ef639.63d4e8","name":"This flow will run every 6 hours to see if there is a new release avaliable","info":"","x":490,"y":40,"wires":[]},{"id":"45243ad7.f1d9c4","type":"change","z":"fa6ef639.63d4e8","name":"store global","rules":[{"t":"set","p":"ETDH.espeasy","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[[]]},{"id":"fc3e43d5.47c3e","type":"http request","z":"fa6ef639.63d4e8","name":"Get SonOff releases","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":600,"y":220,"wires":[["3a4c8bfe.cdc6ac"]]},{"id":"a404b866.174848","type":"change","z":"fa6ef639.63d4e8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://github.com/arendst/Sonoff-Tasmota/releases","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["fc3e43d5.47c3e"]]},{"id":"3aa39bda.588e14","type":"inject","z":"fa6ef639.63d4e8","name":"Check for new Tasmota release","topic":"","payload":"1","payloadType":"str","repeat":"21600","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":100,"wires":[["a404b866.174848"]]},{"id":"3a4c8bfe.cdc6ac","type":"function","z":"fa6ef639.63d4e8","name":"extract latest version","func":"var n = msg.payload.indexOf('<a href=\"/arendst/Tasmota/tree/');\n//node.warn(\"n=\" + n);\nvar str = '<a href=\"/arendst/Tasmota/tree/';\nvar l = str.length;\nn += l;\n//node.warn(\"nl=\" + n);\n//str = msg.payload.substring(n, 13);\n//node.warn(\"str=\" + str);\nmsg.payload = msg.payload.substring(n+1, n+6);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["5b7daebe.09d8f8"]]},{"id":"954daab5.89b158","type":"sqlite","z":"fa6ef639.63d4e8","mydb":"47186c71.905e34","sqlquery":"fixed","sql":"delete from firmware where platform = \"tasmota\";","name":"delete tasmota row","x":590,"y":140,"wires":[["a404b866.174848"]]},{"id":"5b7daebe.09d8f8","type":"change","z":"fa6ef639.63d4e8","name":"store global","rules":[{"t":"set","p":"ETDH.tasmota","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":260,"wires":[[]]},{"id":"ef9ab3fe.19c81","type":"http request","z":"392a3a87.b4d7ee","name":"GET the data from the IP","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":350,"y":400,"wires":[["8d04467b.03ecb"]]},{"id":"91470e42.f835d","type":"exec","z":"392a3a87.b4d7ee","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":290,"y":220,"wires":[["f651f8fa.af154"],[],[]]},{"id":"a2c5f095.5eb18","type":"inject","z":"392a3a87.b4d7ee","name":"Press to manually run - automatically runs every hour","topic":"","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":false,"onceDelay":"5","x":400,"y":60,"wires":[["1d95a725.4c9551"]]},{"id":"f651f8fa.af154","type":"split","z":"392a3a87.b4d7ee","name":"split to one msg per IP address","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":370,"y":280,"wires":[["98b711b1.1fd978"]]},{"id":"98b711b1.1fd978","type":"switch","z":"392a3a87.b4d7ee","name":"pass only nmap line","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Nmap scan report for","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":320,"wires":[["44c8e13c.40d09"],[]]},{"id":"44c8e13c.40d09","type":"change","z":"392a3a87.b4d7ee","name":"get the IP and build msg.url","rules":[{"t":"change","p":"payload","pt":"msg","from":"Nmap scan report for ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\b\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\b","fromt":"re","to":"http://$&/json","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"rc","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["ef9ab3fe.19c81"]]},{"id":"6439c44b.2b4c24","type":"debug","z":"392a3a87.b4d7ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":320,"wires":[]},{"id":"c1819d50.4dbb18","type":"sqlite","z":"392a3a87.b4d7ee","mydb":"47186c71.905e34","sqlquery":"msg.topic","sql":"","name":"Replace/Insert nodes","x":360,"y":600,"wires":[["82e372a3.78c038"]]},{"id":"aff1f3c4.c0a8c8","type":"comment","z":"392a3a87.b4d7ee","name":"This flow updates the nodes table with all nodes it can find and their staus","info":"","x":440,"y":20,"wires":[]},{"id":"a583ff13.9d07","type":"ui_button","z":"392a3a87.b4d7ee","name":"","group":"96f778f0.082358","order":2,"width":0,"height":0,"passthru":true,"label":"Update devices","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":120,"wires":[["1d95a725.4c9551"]]},{"id":"dba2f64e.b236b8","type":"change","z":"392a3a87.b4d7ee","name":"check all the ip's ","rules":[{"t":"set","p":"payload","pt":"msg","to":"ETDH.baseIPandRange","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"\"sudo nmap -sP \" & payload","tot":"jsonata"},{"t":"set","p":"action","pt":"msg","to":"Running NMAP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[["91470e42.f835d"]]},{"id":"ad9779f7.e303b8","type":"comment","z":"392a3a87.b4d7ee","name":"Catch any unexpected errors","info":"","x":780,"y":160,"wires":[]},{"id":"82e372a3.78c038","type":"link out","z":"392a3a87.b4d7ee","name":"Update","links":["67000fc1.5bc74"],"x":275,"y":660,"wires":[]},{"id":"ff2a8518.cf69c8","type":"comment","z":"392a3a87.b4d7ee","name":"Go update the dashboard","info":"","x":430,"y":660,"wires":[]},{"id":"1d95a725.4c9551","type":"sqlite","z":"392a3a87.b4d7ee","mydb":"47186c71.905e34","sqlquery":"fixed","sql":"update nodes \n    set node_status = 0 \n        where 1;","name":"Update node status","x":340,"y":120,"wires":[["dba2f64e.b236b8"]]},{"id":"c8d637e8.7cf8f8","type":"inject","z":"392a3a87.b4d7ee","name":"","topic":"","payload":"Nmap scan report for 192.168.48.30","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["44c8e13c.40d09"]]},{"id":"9b8daf77.4be618","type":"change","z":"392a3a87.b4d7ee","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":400,"wires":[[]]},{"id":"de4cc070.46bc88","type":"link out","z":"392a3a87.b4d7ee","name":"Go to Sonoff","links":["d9a3ce56.aa94c8"],"x":515,"y":480,"wires":[]},{"id":"98206c2d.7f352","type":"link in","z":"392a3a87.b4d7ee","name":"to UPDATE","links":["391dfb72.4a587c","7d2420da.85fff8","2f50ef7a.5e264","3ee89922.cbe6d6"],"x":195,"y":600,"wires":[["c1819d50.4dbb18"]]},{"id":"f207deaa.d63ad8","type":"link out","z":"392a3a87.b4d7ee","name":"Go to ESPeasy","links":["9fd8f14d.59f53"],"x":515,"y":440,"wires":[]},{"id":"21d1336a.0b78bc","type":"comment","z":"392a3a87.b4d7ee","name":"Go process ESPeasy devices","info":"","x":660,"y":440,"wires":[]},{"id":"3a926922.252f3e","type":"comment","z":"392a3a87.b4d7ee","name":"Go see if it is a Sonoff devices","info":"","x":660,"y":480,"wires":[]},{"id":"f58f21b8.a3759","type":"catch","z":"392a3a87.b4d7ee","name":"","scope":["ef9ab3fe.19c81"],"x":730,"y":200,"wires":[["df8015d7.55f888"]]},{"id":"8d04467b.03ecb","type":"switch","z":"392a3a87.b4d7ee","name":"Check Status Code","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"ECONNREFUSED","vt":"str"},{"t":"eq","v":"EHOSTUNREACH","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":330,"y":480,"wires":[["f207deaa.d63ad8"],["de4cc070.46bc88"],["e10226cd.36957"],[]]},{"id":"57d400ff.01e128","type":"inject","z":"392a3a87.b4d7ee","name":"","topic":"","payload":"sudo nmap -sP 192.168.48.30","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["91470e42.f835d"]]},{"id":"df8015d7.55f888","type":"switch","z":"392a3a87.b4d7ee","name":"Ignore some error messages","property":"error.message","propertyType":"msg","rules":[{"t":"cont","v":"ECONNREFUSED","vt":"str"},{"t":"cont","v":"Error: socket hang up","vt":"str"},{"t":"cont","v":"no response from server","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":780,"y":260,"wires":[[],[],[],["6439c44b.2b4c24"]]},{"id":"e10226cd.36957","type":"debug","z":"392a3a87.b4d7ee","name":"Oops some other device - Please report this.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":520,"wires":[]},{"id":"23d79a22.e014ee","type":"json","z":"777c09a8.492b88","name":"convert the JSON string to an object","property":"payload","action":"","pretty":false,"x":210,"y":340,"wires":[["dc2878fa.9f7a9"]]},{"id":"2f50ef7a.5e264","type":"link out","z":"777c09a8.492b88","name":"to Replace/Insert","links":["98206c2d.7f352"],"x":150,"y":520,"wires":[],"l":true},{"id":"9fd8f14d.59f53","type":"link in","z":"777c09a8.492b88","name":"Process ESPeasy","links":["f207deaa.d63ad8"],"x":140,"y":140,"wires":[["dffedea5.5473f8"]],"l":true},{"id":"5e34c0f6.fa015","type":"comment","z":"777c09a8.492b88","name":"Process ESPeasy devices","info":"","x":170,"y":80,"wires":[]},{"id":"dffedea5.5473f8","type":"switch","z":"777c09a8.492b88","name":"Is this an ESPeasy?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Git Build\":\"mega","vt":"str"},{"t":"cont","v":"Homie","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":150,"y":200,"wires":[["3649dc35.2e9ce4"],["268037ff.1846f8"],["36aa831.2d7f0fc"]],"outputLabels":["ESPeasy","Homie","Unknown"]},{"id":"36aa831.2d7f0fc","type":"debug","z":"777c09a8.492b88","name":"Not an espeasy or homie - Please report this.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":200,"wires":[]},{"id":"734db6e8.99cbc8","type":"http request","z":"12616b68.55aedd","name":"GET data from Sonoff","method":"GET","ret":"txt","url":"","tls":"","x":320,"y":180,"wires":[["1871ada6.b5005a"]]},{"id":"d10bc539.1beee8","type":"split","z":"12616b68.55aedd","name":"Split STATUS messages","splt":"= ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":320,"wires":[["264b995f.0cb47e"]]},{"id":"264b995f.0cb47e","type":"change","z":"12616b68.55aedd","name":"clean up some of the msg","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":360,"wires":[["3539a9be.0e8d46"]]},{"id":"3539a9be.0e8d46","type":"split","z":"12616b68.55aedd","name":"split off trailing new-line character","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":360,"y":400,"wires":[["ce8463af.68291"]]},{"id":"ce8463af.68291","type":"switch","z":"12616b68.55aedd","name":"get rid of trailing new-line character msg","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Status","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":440,"wires":[["9570c6ba.c7bc58"],[]]},{"id":"9570c6ba.c7bc58","type":"json","z":"12616b68.55aedd","name":"Convert the Sonoff data into objects","property":"payload","action":"","pretty":false,"x":370,"y":480,"wires":[["e0d281e1.9d3bf"]]},{"id":"e559bf4.74d424","type":"function","z":"12616b68.55aedd","name":"Build Replace/insert SQL statement","func":"// grab the values from the json object\nvar device = msg.payload;\n\nvar node_status = 1;\nvar node_name = device.Status.FriendlyName;\nvar node_info = '';\nvar firmware_build = device.StatusFWR.Version;\nvar uptime = device.StatusSTS.Uptime;\nvar last_boot_cause = \"\";\nvar free_ram = device.StatusMEM.Free;\nvar ip = device.StatusNET.IPAddress;\nvar rssi = device.StatusSTS.Wifi.RSSI - 100; // fudge the number negative\nvar firmware_type = \"tasmota\";\n\n//Build the replace/insert statement\nvar sql = \"REPLACE INTO nodes (\";\nsql += 'node_status, ';\nsql += 'node_name, ';\nsql += 'node_info, ';\nsql += 'firmware_build, ';\nsql += 'uptime, ';\nsql += 'last_boot_cause, ';\nsql += 'free_ram, ';\nsql += 'ip, ';\nsql += 'rssi, ';\nsql += 'firmware_type ';\nsql += ') ';\n// now the values\nsql += 'VALUES (';\nsql += '\"' + node_status + '\", ';\nsql += '\"' + node_name + '\", ';\nsql += '\"' + node_info + '\", ';\nsql += '\"' + firmware_build + '\", ';\nsql += '\"' + uptime + '\", ';   \nsql += '\"' + last_boot_cause + '\", ';\nsql +=       free_ram + ', ';   \nsql += '\"' + ip + '\", ';\nsql += '\"' + rssi + '\", ';\nsql += '\"' + firmware_type + '\"); ';\n\n// move the SQL into msg.topic and send to teh sqlite node\nmsg.topic = sql;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["391dfb72.4a587c"]]},{"id":"e0d281e1.9d3bf","type":"join","z":"12616b68.55aedd","name":"Join the 10 objects into one","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":340,"y":520,"wires":[["e559bf4.74d424"]]},{"id":"d9a3ce56.aa94c8","type":"link in","z":"12616b68.55aedd","name":"Process Sonoff","links":["de4cc070.46bc88","b3c35888.6116e8","30b5c359.e10b7c"],"x":475,"y":80,"wires":[["e7056f8f.7440c"]]},{"id":"e7056f8f.7440c","type":"change","z":"12616b68.55aedd","name":"get the IP and build msg.url","rules":[{"t":"change","p":"url","pt":"msg","from":"json","fromt":"str","to":"cm?cmnd=STATUS%200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["734db6e8.99cbc8"]]},{"id":"391dfb72.4a587c","type":"link out","z":"12616b68.55aedd","name":"Go do UPDATE","links":["98206c2d.7f352"],"x":235,"y":600,"wires":[]},{"id":"4b2ae0e9.6e05e8","type":"comment","z":"12616b68.55aedd","name":"Go REPLACE/INSERT the data","info":"","x":390,"y":600,"wires":[]},{"id":"65bd1a71.6359e4","type":"comment","z":"12616b68.55aedd","name":"Process Sonoff devices","info":"","x":320,"y":80,"wires":[]},{"id":"6b58f217.51f6cc","type":"comment","z":"12616b68.55aedd","name":"The Sonoff data is not in an easy form to process","info":"","x":380,"y":40,"wires":[]},{"id":"79c275a2.b031b4","type":"switch","z":"12616b68.55aedd","name":"Is this an Sonoff?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"FriendlyName","vt":"str"},{"t":"eq","v":"404","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":260,"wires":[["d10bc539.1beee8"],["f8efd3e6.3a0b"]]},{"id":"f8efd3e6.3a0b","type":"debug","z":"12616b68.55aedd","name":"not a sonoff - Please report this.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":280,"wires":[]},{"id":"1871ada6.b5005a","type":"switch","z":"12616b68.55aedd","name":"Check Status code","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":220,"wires":[["79c275a2.b031b4"],[]]},{"id":"9b91035f.0f80b8","type":"catch","z":"12616b68.55aedd","name":"","scope":null,"x":700,"y":380,"wires":[["1e726e82.ea9401"]]},{"id":"1e726e82.ea9401","type":"debug","z":"12616b68.55aedd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":460,"wires":[]},{"id":"fae30e5d.b413d","type":"inject","z":"af850f94.060ce8","name":"This controls when the display will be refreshed","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":80,"wires":[["6daa68a4.63783"]]},{"id":"6daa68a4.63783","type":"sqlite","z":"af850f94.060ce8","mydb":"47186c71.905e34","sqlquery":"fixed","sql":"select * from nodes order by ip;","name":"select * from nodes;","x":160,"y":200,"wires":[["e4e88f68.ed8e88"]]},{"id":"f47d130c.65eba8","type":"change","z":"af850f94.060ce8","name":"Get global releases","rules":[{"t":"set","p":"esp_release","pt":"msg","to":"ETDH.espeasy","tot":"global"},{"t":"set","p":"tas_release","pt":"msg","to":"ETDH.tasmota","tot":"global"},{"t":"set","p":"etdh_version","pt":"msg","to":"ETDH.version","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":340,"wires":[["812fa2e9.8029"]]},{"id":"67000fc1.5bc74","type":"link in","z":"af850f94.060ce8","name":"Update","links":["7c24875f.f91278","82e372a3.78c038"],"x":110,"y":140,"wires":[["6daa68a4.63783"]],"l":true},{"id":"a37c9072.c6be5","type":"comment","z":"af850f94.060ce8","name":"This flow grabs the stored data and displays it.","info":"","x":240,"y":40,"wires":[]},{"id":"e1b2b787.de2e18","type":"ui_template","z":"af850f94.060ce8","group":"96f778f0.082358","name":"CSS for colors","order":3,"width":"0","height":"0","format":"<style>\n    .nr-dashboard-cardpanel {\n        border: 1px solid black;\n    }\n\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it .nr-dashboard-cardcontainer > .visible,\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it {\n        background-color: #ff9393 !important;\n        test-align: center;\n    }\n    .nr-dashboard-cardpanel > p {\n        text-align: center;\n        color: #000 !important;\n    }\n    .device_offline {\n        xbackground-color: #fcf2ba;\n        xbackground-color: #ff6457;\n        background-color: #ffa0a8;\n    }\n    .device_online {\n        background-color: #dcffcc; \n        color: #000000;\n    }\n    .warning_color {\n        background-color: #f3ffb8;\n    }\n    .warning_red {\n        background-color: #ff0000;\n    }\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":460,"wires":[[]]},{"id":"44c954f3.ebf594","type":"ui_form","z":"4713b430.f0fdec","name":"Delete IP","label":"","group":"37f0755c.fab842","order":1,"width":"7","height":"3","options":[{"label":"IP to delete","value":"ip_to_delete","type":"text","required":true}],"formValue":{"ip_to_delete":""},"payload":"","submit":"Delete","cancel":"Cancel","topic":"","x":120,"y":80,"wires":[["4534fad7.144b54"]]},{"id":"4534fad7.144b54","type":"function","z":"4713b430.f0fdec","name":"validate entry is an IP","func":"var newMsg = { payload: msg.payload.length };\nvar ipaddress = msg.payload.ip_to_delete;\n  if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {  \n    newMsg.testResult = true;  \n  } else {\n    newMsg.testResult = false;  \n  } \n newMsg.payload = ipaddress;\n\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":160,"y":140,"wires":[["29800cd0.d24b3c"]]},{"id":"29800cd0.d24b3c","type":"switch","z":"4713b430.f0fdec","name":"","property":"testResult","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":200,"wires":[["5110949d.927c3c"],["e40c4d38.a7ca9"]]},{"id":"5110949d.927c3c","type":"change","z":"4713b430.f0fdec","name":"display 'bad ip' msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"'The IP address: ' & msg.payload & ' is not valid'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":200,"wires":[["637603e8.b04c2c"]]},{"id":"b9aa2bda.527d5","type":"sqlite","z":"4713b430.f0fdec","mydb":"47186c71.905e34","sqlquery":"msg.topic","sql":"","name":"delete nodes","x":130,"y":380,"wires":[["3773915b.a17c7e"]]},{"id":"e40c4d38.a7ca9","type":"change","z":"4713b430.f0fdec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"delete from nodes where ip = '\" & msg.payload & \"';\"","tot":"jsonata"},{"t":"set","p":"ip","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":320,"wires":[["b9aa2bda.527d5"]]},{"id":"3773915b.a17c7e","type":"change","z":"4713b430.f0fdec","name":"Display 'deleted' msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"'The node for IP: ' & msg.ip & ' has been deleted'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":440,"wires":[["7c24875f.f91278","457d8f04.9bc088"]]},{"id":"7c24875f.f91278","type":"link out","z":"4713b430.f0fdec","name":"refresh","links":["67000fc1.5bc74"],"x":95,"y":500,"wires":[]},{"id":"e2f2c076.6cd528","type":"change","z":"4713b430.f0fdec","name":"Clear the dashboard msg box","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":520,"wires":[["43cf520d.d31744"]]},{"id":"165232b9.739f05","type":"delay","z":"4713b430.f0fdec","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":520,"wires":[["e2f2c076.6cd528"]]},{"id":"fecb7ffa.118e8","type":"link in","z":"4713b430.f0fdec","name":"Dashboard MSG box","links":["457d8f04.9bc088","637603e8.b04c2c"],"x":315,"y":580,"wires":[["165232b9.739f05","43cf520d.d31744"]]},{"id":"457d8f04.9bc088","type":"link out","z":"4713b430.f0fdec","name":"","links":["fecb7ffa.118e8"],"x":355,"y":440,"wires":[]},{"id":"637603e8.b04c2c","type":"link out","z":"4713b430.f0fdec","name":"","links":["fecb7ffa.118e8"],"x":675,"y":200,"wires":[]},{"id":"850bda9b.32f3e8","type":"comment","z":"4713b430.f0fdec","name":"this code displays a message and 5 seconds later clears it","info":"","x":650,"y":480,"wires":[]},{"id":"f4e9db58.dbb628","type":"comment","z":"4713b430.f0fdec","name":"data entered is an invalid IP address","info":"","x":540,"y":140,"wires":[]},{"id":"5d28dbf8.8ecc94","type":"comment","z":"4713b430.f0fdec","name":"IP valid, construct DELETE and run it","info":"","x":310,"y":280,"wires":[]},{"id":"b64e761e.49a148","type":"comment","z":"4713b430.f0fdec","name":"Refresh nodes display","info":"","x":240,"y":500,"wires":[]},{"id":"55a759c6.dab5e8","type":"comment","z":"4713b430.f0fdec","name":"This flow handles deleting 'Ghost' IP address's from the nodes table","info":"","x":300,"y":40,"wires":[]},{"id":"43cf520d.d31744","type":"ui_text","z":"4713b430.f0fdec","group":"37f0755c.fab842","order":2,"width":"7","height":"2","name":"dashboard msg box","label":"","format":"{{msg.payload}}","layout":"row-left","x":740,"y":580,"wires":[]},{"id":"ec1b6d71.816e4","type":"ui_button","z":"4713b430.f0fdec","name":"","group":"98a14fc.a18663","order":0,"width":"0","height":"0","passthru":true,"label":"Show/Hide 'Ghost IP delete' panel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Home_Group_2\"]}}","payloadType":"json","topic":"","x":880,"y":140,"wires":[["510e5d4.fd34024"]]},{"id":"510e5d4.fd34024","type":"change","z":"4713b430.f0fdec","name":"","rules":[{"t":"set","p":"hide_show","pt":"flow","to":"$flowContext(\"hide_show\") = 0 ? 1 : 0","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"hide_show","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"(\t$hide := '{\"group\":{\"hide\":[\"Home_Group_2\"]}}';\t$show := '{\"group\":{\"show\":[\"Home_Group_2\"]}}';\t(payload = 1) ? $hide : $show;\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":180,"wires":[["60b101d5.6f15"]]},{"id":"405b1a41.698cb4","type":"ui_ui_control","z":"4713b430.f0fdec","name":"","x":800,"y":260,"wires":[[]]},{"id":"60b101d5.6f15","type":"json","z":"4713b430.f0fdec","name":"","property":"payload","action":"","pretty":false,"x":790,"y":220,"wires":[["405b1a41.698cb4"]]},{"id":"1a58c3d.8a9c53c","type":"inject","z":"4713b430.f0fdec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":810,"y":60,"wires":[["c2881a82.ae4ea8"]]},{"id":"c2881a82.ae4ea8","type":"change","z":"4713b430.f0fdec","name":"","rules":[{"t":"set","p":"hide_show","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":100,"wires":[["ec1b6d71.816e4"]]},{"id":"fbecc862.58bb58","type":"inject","z":"392a3a87.b4d7ee","name":"Select all from nodes","topic":"select * from nodes","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["c1819d50.4dbb18"]]},{"id":"80f96c0b.1fe628","type":"debug","z":"777c09a8.492b88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":340,"wires":[]},{"id":"9a64557b.1d4c9","type":"comment","z":"777c09a8.492b88","name":"Go REPLACE/INSERT the data","info":"","x":410,"y":520,"wires":[]},{"id":"3539bc13.ab0ffc","type":"debug","z":"777c09a8.492b88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":380,"wires":[]},{"id":"2215ec68.d3499c","type":"inject","z":"777c09a8.492b88","name":"Test homie","topic":"","payload":"{\"Sensors\":[{\"DataAcquisition\":[{\"Controller\":1,\"Enabled\":\"true\",\"IDX\":0},{\"Controller\":2,\"Enabled\":\"false\",\"IDX\":0},{\"Controller\":3,\"Enabled\":\"false\",\"IDX\":0}],\"TaskEnabled\":\"true\",\"TaskInterval\":60,\"TaskName\":\"SystemInfo\",\"TaskNumber\":1,\"TaskValues\":[{\"Name\":\"uptime\",\"NrDecimals\":2,\"Value\":1537,\"ValueNumber\":1},{\"Name\":\"web\",\"NrDecimals\":2,\"Value\":11894,\"ValueNumber\":2},{\"Name\":\"load\",\"NrDecimals\":2,\"Value\":12.5,\"ValueNumber\":3},{\"Name\":\"rssi\",\"NrDecimals\":2,\"Value\":-94,\"ValueNumber\":4}],\"Type\":\"Generic - System Info\"},{\"DataAcquisition\":[{\"Controller\":1,\"Enabled\":\"true\",\"IDX\":0},{\"Controller\":2,\"Enabled\":\"false\",\"IDX\":0},{\"Controller\":3,\"Enabled\":\"false\",\"IDX\":0}],\"TaskEnabled\":\"true\",\"TaskInterval\":0,\"TaskName\":\"Garage\",\"TaskNumber\":2,\"TaskValues\":[{\"Name\":\"State\",\"NrDecimals\":0,\"Value\":0,\"ValueNumber\":1}],\"Type\":\"Switch input - Switch\"}],\"System\":{\"Build\":20103,\"CPU Eco Mode\":\"false\",\"Free RAM\":14880,\"Git Build\":\"\",\"Last Boot Cause\":\"Manual reboot\",\"Load\":12.5,\"Load LC\":3860,\"Local Time\":\"1970-00-00 00:00:00\",\"Plugin description\":\" [Normal] [Normal Homie]\",\"Plugins\":49,\"Reset Reason\":\"Hardware Watchdog\",\"System Libraries\":\"ESP82xx Core 2_4_2, NONOS SDK 2.2.1(cfd48f3), LWIP: 2.0.3 PUYA support\",\"Unit Name\":\"SONOFF01\",\"Unit Number\":0,\"Uptime\":1537},\"TTL\":60000,\"WiFi\":{\"BSSID\":\"88:41:FC:47:D9:75\",\"Channel\":11,\"Connected msec\":92212975,\"Connection Failure Threshold\":0,\"DNS 1\":\"192.168.1.1\",\"Force WiFi B/G\":\"false\",\"Force WiFi No Sleep\":\"false\",\"Gateway\":\"192.168.1.1\",\"Hostname\":\"SONOFF01-0\",\"IP Address\":\"192.168.1.129\",\"IP Config\":\"Static\",\"IP Subnet\":\"255.255.255.0\",\"Last Disconnect Reason\":1,\"Last Disconnect Reason str\":\"(1) Unspecified\",\"Number Reconnects\":0,\"Periodical send Gratuitous ARP\":\"false\",\"RSSI\":-91,\"Restart WiFi Lost Conn\":\"false\",\"SSID\":\"DUPREEZ\",\"STA MAC\":\"84:0D:8E:71:52:4D\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":80,"wires":[["52ada809.924dd"]]},{"id":"52ada809.924dd","type":"json","z":"777c09a8.492b88","name":"","property":"payload","action":"","pretty":false,"x":690,"y":80,"wires":[["dffedea5.5473f8"]]},{"id":"5a575dd0.6b0754","type":"change","z":"af850f94.060ce8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[[\"database is empty\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"]]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":260,"wires":[["f47d130c.65eba8"]]},{"id":"812fa2e9.8029","type":"ui_template","z":"af850f94.060ce8","group":"96f778f0.082358","name":"ESP8266 configured devices","order":1,"width":"14","height":"10","format":"<div id=\"et_home\">\n<h2 style=\"text-align: center;\">ET Display Home {{msg.etdh_version}}</h2>\n<p style=\"text-align: center;\">ESPeasy current release: <a href=\"https://github.com/letscontrolit/ESPEasy/releases/download/{{msg.esp_release}}/ESPEasy_{{msg.esp_release}}.zip\" target=\"_blank\">{{msg.esp_release}}</a> (click to download)</p>\n<p style=\"text-align: center;\">Tasmota current release: <a href=\"https://github.com/arendst/Sonoff-Tasmota/releases/download/v{{msg.tas_release}}/sonoff.bin\" target=\"_blank\">{{msg.tas_release}}</a> (click to download)</p>\n\n<br/>\n<table id=\"table\" border=\"1\">\n    <tr>\n        <th>Node Name</th> \n        <th>Node Status</th> \n        <th>Version</th>\n        <th>RSSI</th>\n        <th>Uptime</th>\n        <th>Last boot cause</th>\n        <th>Free RAM</th>\n        <th>IP</th>\n    </tr>\n    <tbody style=\"text-align: center\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td ng-if=\"x.node_status ==  'database is empty'\" class=\"warning_red\" >DATABASE IS EMPTY</td>\n \n            <td ng-if='x.node_status ==  1' class=\"device_online\" >{{x.node_name}}</td>\n            <td ng-if='x.node_status ==  0' class=\"device_offline\">{{x.node_name}}</td>\n            \n            <td ng-if='x.node_status ==  1' class=\"device_online\"  >On Line </td>\n            <td ng-if='x.node_status ==  0' class=\"device_offline\" >Off Line</td>\n            \n            <td ng-if=\"(x.firmware_type == 'espeasy' && x.firmware_build ==  msg.esp_release)\" class=\"device_online\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'espeasy' && x.firmware_build !=  msg.esp_release)\" class=\"warning_color\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'tasmota' && x.firmware_build ==  msg.tas_release)\" class=\"device_online\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'tasmota' && x.firmware_build !=  msg.tas_release)\" class=\"warning_color\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'homie'   && x.firmware_build ==  msg.hom_release)\" class=\"device_online\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'homie'   && x.firmware_build !=  msg.hom_release)\" class=\"warning_color\"> {{x.firmware_build}} </td>\n             \n            <td ng-if='x.node_status ==  1'  > {{x.rssi}} </td>\n            <td ng-if='x.node_status ==  0'  >- - -</td>\n            \n            <td ng-if='x.node_status ==  1'  > {{x.uptime}} </td>\n            <td ng-if='x.node_status ==  0'  >- - - - -</td>\n            \n            <td ng-if='x.node_status ==  1'  > {{x.last_boot_cause}} </td>\n            <td ng-if='x.node_status ==  0'  >- - - - - - -</td>\n            \n            <td ng-if='x.node_status ==  1'  > {{x.free_ram}} </td>\n            <td ng-if='x.node_status ==  0'  >- - - - -</td>\n            <td>\n                <a href=\"http://{{x.ip}}\" target=\"_blank\"> {{x.ip}} </a>\n            </td>\n        </tr>\n    </tbody>\n</table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":400,"wires":[[]]},{"id":"e4e88f68.ed8e88","type":"switch","z":"af850f94.060ce8","name":"check if DB empty","property":"$count(payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":260,"wires":[["5a575dd0.6b0754"],["f47d130c.65eba8"]]},{"id":"13022148.7f82df","type":"sqlite","z":"fa6ef639.63d4e8","mydb":"47186c71.905e34","sqlquery":"fixed","sql":"delete from firmware where platform = \"espeasy\";","name":"delete espeasy row","x":150,"y":140,"wires":[["cf465397.62e438"]]},{"id":"268037ff.1846f8","type":"change","z":"777c09a8.492b88","name":"Homie","rules":[{"t":"set","p":"EspeasyOrHomie","pt":"msg","to":"homie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":260,"wires":[["23d79a22.e014ee"]]},{"id":"3649dc35.2e9ce4","type":"change","z":"777c09a8.492b88","name":"Espeasy","rules":[{"t":"set","p":"EspeasyOrHomie","pt":"msg","to":"espeasy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":260,"wires":[["23d79a22.e014ee"]]},{"id":"3ce2ce7a.1830c2","type":"template","z":"777c09a8.492b88","name":"Build SQL replace","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"REPLACE INTO nodes (\n\tnode_status,\n\tnode_name,\n\tnode_info,\n\tfirmware_build,\n\tuptime,\n\tlast_boot_cause,\n\tfree_ram,\n\tip,\n\trssi,\n\tfirmware_type\n\t)\nVALUES (\n\t{{data.node_status}},\n\t\"{{data.node_name}}\",\n\t\"{{data.node_info}}\",\n\t\"{{data.firmware_build}}\",\n\t\"{{data.uptime  }}\",\n\t\"{{data.last_boot_cause}}\",\n\t{{data.free_ram}},\n\t\"{{data.ip}}\",\n\t{{data.rssi}},\n\t\"{{data.firmware_type}}\"\n);","output":"str","x":150,"y":460,"wires":[["2f50ef7a.5e264"]]},{"id":"dc2878fa.9f7a9","type":"function","z":"777c09a8.492b88","name":"Setup data to build the SQL statement","func":"// grab the values from the json object\nvar device = msg.payload;\nvar data ={};\ndata.node_status = 1;\n\ndata.node_info = '';\ndata.uptime = device.System.Uptime;\ndata.last_boot_cause = device.System[\"Last Boot Cause\"];\ndata.free_ram = device.System[\"Free RAM\"];\ndata.rssi = device.WiFi.RSSI;\n\nif (msg.EspeasyOrHomie == \"homie\") {\n    data.last_boot_cause = device.System[\"Last Boot Cause\"];\n    data.node_name = device.System[\"Unit Name\"];\n    data.ip = device.WiFi[\"IP Address\"];\n    data.firmware_build = device.System[\"Build\"];\n    data.firmware_type = \"homie\";\n}\n\nif (msg.EspeasyOrHomie == \"espeasy\") {\n    data.firmware_type = \"espeasy\";\n    data.firmware_build = device.System[\"Git Build\"];\n    if (device.System[\"Git Build\"] > \"mega-20190305\") {\n        data.last_boot_cause = device.System[\"Last Boot Cause\"];\n        data.node_name = device.System[\"Unit Name\"];\n        data.ip = device.WiFi[\"IP Address\"];\n    } else {  // old format of data\n        data.last_boot_cause = device.System[\"Last boot cause\"];\n        data.node_name = device.System.Name;\n        data.ip = device.WiFi.IP;\n    }\n}\n\nmsg.data = data;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":400,"wires":[["3ce2ce7a.1830c2"]]},{"id":"2409eb11.524f7c","type":"inject","z":"392a3a87.b4d7ee","name":"Select all from nodes","topic":"delete from nodes","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":760,"wires":[["c1819d50.4dbb18"]]},{"id":"a43784ef.88c8c8","type":"catch","z":"777c09a8.492b88","name":"","scope":null,"x":600,"y":300,"wires":[["d3b58a95.d81428"]]},{"id":"d3b58a95.d81428","type":"debug","z":"777c09a8.492b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":380,"wires":[]}]
